#nav-bar-item {
    float: left;
    border-right: 1px solid black;
}

.nav-bar-item-hover a:hover {
    background-color: gray;
}

#nav-bar-links {
    display: block;
    padding: 8px;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    position: -moz-sticky;
    top: 0;
    width: 100%;
}

.active {
    background-color: red;
}

.active a:hover {
    background-color: rgb(128, 0, 0);
}